# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv
venv/
ENV/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Logs
*.log
